.carouselImage{
    width: 33%;
    height: 12rem;
  }
  .carouselBtn1{
    position: absolute;
    top: 29%;
    left: 29%;
    width: 2.5rem;
    height: 2rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size:1.5rem;
    color:yellow;
  }
  .carouselBtn2{
    position: absolute;
    top: 29%;
    right: 8%;
    width: 2.5rem;
    height: 2rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size:1.5rem;
    color:yellow;
  }
  .carousel{
    margin-top: 5rem;
    
  }